.uploadPhotoPage {
  background-image: url('../../assets/img/uploadPhoto.png');
  //background-image: url('../../assets/img/index.png');
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
}
.generateButton {
  position: absolute;
  right: 6vw;
  bottom: 6vh;
  width: 55vw;
  height: auto;
}
.generateClickRegion {
  position: absolute;
  right: 6vw;
  bottom:6vh;
  width: 55vw;
  height: 14vh;
}
.uploadClickRegion {
  position: absolute;
  left: 24vw;
  top: 29vh;
  width: 53vw;
  height: 410px;
}
.uploadButton {
  position: absolute;
  left: 24vw;
  top: 29vh;
  width: 53vw;
  height: auto;
}
.photo {
  position: absolute;
  left: 9vw;
  top: 13.6vh;
  width: 78vw;
  height: auto;
}
.cloud {
  position: absolute;
  left: 80vw;
  top: 5vh;
  width: 20vw;
  height: auto;
}


