selectPhotoPage {
  background-color: white;
}
.cancelButton {
  position: absolute;
  left: 6vw;
  bottom: 9vh;
  width: 40vw;
  height: auto;
}
.confirmButton {
  position: absolute;
  right: 6vw;
  bottom:9vh;
  width: 40vw;
  height: auto;
}
